<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-Hq3GY82L3LxBcynFfIo8js6G6FGtg3Q</string>
	<key>GCM_SENDER_ID</key>
	<string>1009671565006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zyraflow.app</string>
	<key>PROJECT_ID</key>
	<string>zyraflow-production</string>
	<key>STORAGE_BUCKET</key>
	<string>zyraflow-production.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009671565006:ios:8dbd46fa23d21e3c0e6a9f</string>
</dict>
</plist>